@import '~mdb-ui-kit/css/mdb.min.css';
.chip{
    background-color: darkcyan;
}.highlightOption{
    background-color: gray;
}.highlightOption :hover{
    background-color: gray;
}
.searchBox{
    border-radius: "23.28571429rem";   
}