
.back-search{
    background-image:url("./img/background.png");
    background-size: 105vw;
    width: 100vw;
    height: 100vh;
}.place_search{
    position: relative;
    margin-top: 19vh;
    margin-left: -26vw;
    width: 34vw;
}.serach_div{
    width: 45vw;
    height: 66vh;
    left: 11vw;
    position: relative;
    top: 17vh;
    border-collapse: collapse;
    border-radius: 0rem;
    border-top-left-radius: 3em;
}.div_link{
    position: relative;
    left: 0vw;
    width: 16vw;
}
.place_result{
    width: 20vw;
    background-color: white;
    height: 67vh;
    position: relative;
    left: 46vw;
    top: -26em;
    border-collapse: collapse;
    border-radius: 2vw;
    overflow: auto;
}
.ui.menu {
    border-radius: 3rem;
    border-top-left-radius: 3em;
    /* border-top-right-radius: 0rem; */
    /* border-bottom-right-radius: 0rem; */
    border-color: black;
    /* border-bottom-left-radius: 0rem; */
    border-collapse: collapse;
    border-width: 0.2em;
}
.item-user {
    border-top-left-radius: 3em;
}