.tow{
    display: inline-block;   
}
.place_user{
    position: relative;
    left: 3vw;
    font-size: 1.7vw;
    width: 16vw;
    left: 1vw;
}.ui.menu .item{
    line-height: 3;
}.ui.menu{
    border-radius: 3.285714rem;
}