.tow{
    display: inline-block;   
}
.place_user {
    position: relative;
    left: 3vw;
    font-size: 1.7vw;
    width: 18vw;
    left: -1em;
    top: 0em;
    margin-top: 1em;
    text-align: end;
    font-size: 1.4em;
    font-family: system-ui;
}.ui.menu .item{
    line-height: 3;
}.color_name{
    color: #e860ff;
}.display{
    display: inline-block;
    font-family: unset;
}
i.icon {

    margin-left: 0.2em;
}.img_ico {
    width: 3em;
    margin-left: 1em;
}