.ui.icon.header .circular.icon {
    font-size: 5em;
}
.MyButton{
    position: relative;
    left: 96vw;
    top: 2.6vh;
}.profil_img{
    width: 9em;
}.ui.header>.image:not(.icon), .ui.header>img {
    width: 10.5em;
}p {
    margin: 30px 0 1em;
    line-height: 1.4285em;
}