.redError{
    color: red;
    text-align: center;
}
.ui.placeholder.segment {

    max-width: 69%;

}
.ui.placeholder.segment {
    margin-top: 13%;
    padding-right: 2%;
    padding-left: 0%;
    max-width: 69%;
    margin-left: 15%;
}
.back-singIn{
    background-image:url("./img/background.png");
    background-size: 105vw;
    position: absolute;
    width: 100vw;
    height: 100vh;
}.makeStyles-submit-6 {
    color: #fff;
    background-color: #e860ff;
}.makeStyles-submit-6:hover {
    color: #fff;
    background-color: #e860ff;
}.makeStyles-image-2 {
    background-image: url("./img/backg.png");

}.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    background-color: #e860ff;
}