.redError{
    color: red;
    text-align: center;
}
.ui.placeholder.segment {

    max-width: 69%;
}.ui.placeholder.segment {
    margin-top: 213px;
    padding-right: 240px;
    padding-left: 210px;
    max-width: 100%;
}