.back-singUp{
    // background-image:url("./img/background.png");
    background-size: 105vw;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
    width: 42%;
    margin-top: 15%;
    margin-left: 18%;
}.redColor{
    color: red;
}

.opcityandimg{
    background-image: url("./img/back.png");
//    opacity: 0.5;
}