.back-singUp{
    // background-image:url("./img/background.png");
    background-size: 105vw;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
    width: 42%;
    margin-top: 15%;
    margin-left: 18%;
}.redColor{
    color: red;
}

.opcityandimg{
    background-image: url("./img/2021-10-13\ \(1\).jpg");
//    opacity: 0.5;
}
.backrund{
background-image: linear-gradient( 
    132deg, rgb(0,0,0) 0%, rgb(294,113,110) 0%,#0b0b2b 80%);
    position: relative;
    height:10%;
    top: 7%;
}
.MuiSvgIcon-root{
    width: 3em;
}