.divTable{
    overflow: auto;
<<<<<<< HEAD
    height: 38rem;
    margin-top: -13rem;
=======
    height: 43rem;
    margin-top: -14rem;
    margin-left: -5%;
//     overflow: ;
//     height: 38rem;
//     margin-top: -13rem;
// >>>>>>> 37a84222793b41af572920c25ca6f9c64ebcdddc
>>>>>>> 0fcd6c9d4068568b4f9430985a67d1c284d1b318
}

.tableDiv{
    text-align: end !important;
}
.button2Class{
    background-image: linear-gradient(
        132deg, black 0%, rgb(255, 113, 110) 0%, rgb(11, 11, 43) 80%) !important;
    border-radius: 50% !important;
    position: absolute !important;
    bottom: 7% !important;
    left: 93.5% !important;
}