.divTable{
    overflow: auto;
<<<<<<< HEAD
    height: 38rem;
    margin-top: -13rem;
=======
>>>>>>> 2d2a772c6fc8bbf0c6d370c25ec177e12795a953
    height: 43rem;
    margin-top: -14rem;
    margin-left: -5%;
//     height: 38rem;
//     margin-top: -13rem;
<<<<<<< HEAD
=======
// >>>>>>> 37a84222793b41af572920c25ca6f9c64ebcdddc
>>>>>>> 2d2a772c6fc8bbf0c6d370c25ec177e12795a953
}

.tableDiv{
    text-align: end !important;
}
.button2Class{
    background-image: linear-gradient(
        132deg, black 0%, rgb(255, 113, 110) 0%, rgb(11, 11, 43) 80%) !important;
    border-radius: 50% !important;
    position: absolute !important;
    bottom: 7% !important;
    left: 93.5% !important;
}