.back-home{
    background-size: 100%;
    width: 40%;
    height: auto;
    margin-left: 55%;
    margin-top: -1%;
}.href{
    position: relative;
    margin-top: -64%;
    margin-left: 83%;
}.href2 {
    margin-top: -76%;
    margin-left: -110%;
    height: 30em;
    width: 70%;
}.search {
    border-collapse: collapse;
    border-radius: 3px 3px 3px 3px;
    width: 14%;
    height: 93%;
}

.MuiButton-label {

    font-size: 17px;
}
.title{
    font-size: 101px;
    color: rgb(31, 40, 79);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}